%p= flash[:notice] if flash[:notice]
%h1 Log In
= form_tag login_path do

  = label :user, :username, 'Username'
  = text_field :username, 'username'

  = label :user, :password, 'Password'
  = text_field :password, 'password'

  = submit_tag 'Log In'
  
= link_to 'Create New Account', new_user_path
