%h2 Search Results

%div(style='width: 800px;')
  %div(id="map" style="width: 800px; height: 400px;")
  
:javascript
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
        {
          "lat": 0,
          "lng": 0,
          "picture": {
            "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
            "width":  32,
            "height": 32
          },
          "infowindow": "hello!"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });

<br>

%table#results
  %thead
    %tr
      %th Street
      %th City
      %th State
      %th Description
      %th Price
      %th Owner
      %th Picture
      %th More Info
  %tbody
    - if @users != nil
      - @users.each do |user|
        %tr
          %td= user.home_street_address
          %td= user.home_city
          %td= user.home_state
          %td= user.house_description
          %td $10 p/hour
          %td= user.first_name + " " + user.last_name
          %td Insert Cute Picture
          %td= link_to "See More", user_path(user)

<br>

= link_to 'Back to Main Page', root_path
<br>
- if logged_in?
  = link_to "View Profile", user_path(@user)
  <br>
  = link_to 'Edit Profile', edit_user_path
  <br>
  = link_to 'Log Out', logout_path, method: :delete
- else
  = link_to 'Log In', login_path
  <br>
  = link_to 'Sign Up', new_user_path
