%h1 OpenHouse Homepage
%p= flash[:notice] if flash[:notice]

<br>
%h3 Search for available homes near you
= form_tag search_path, :method => :get do
  = text_field :search, 'query'
  = submit_tag 'Search'
<br>

- if logged_in?
  = link_to "View Profile", user_path(@user)
  <br>
  = link_to 'Edit Profile', edit_user_path
  <br>
  = link_to 'Log Out', logout_path, method: :delete
- else
  = link_to 'Log In', login_path
  <br>
  = link_to 'Sign Up', new_user_path
