// %link{:href => "vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}
%link{:href => "css/homepage.css", :rel => "stylesheet"}/
%body{:style => 'overflow-x: hidden;'}
  %header.intro-header
    .container
      .intro-message
        %h1 Open House
        %h3 Work at shared home offices
        %h2 Find unique coworking spaces near you, anywhere, anytime.
        %hr.intro-divider/

        <br>
        = form_tag search_path, :method => :get do
          = text_field :location, 'address', :placeholder=>"Address", style: 'color:#2e2e2e;'
          = text_field :location, 'city', :placeholder=>"City", style: 'color:#2e2e2e;'
          = text_field :location, 'state', :placeholder=>"State", style: 'color:#2e2e2e;'
          = submit_tag 'Search', class: "search-button"

  %p= flash[:notice] if flash[:notice]
  / Page Content
  
  .container
    .row
      .clearfix{:style => 'padding-top: 50px;padding-bottom:50px;'}
        %h1.center Come and work at unique homes with other freelancers
  %section.content-section-a
    .container
      .row
        .col-lg-5.ml-auto
          %hr.section-heading-spacer/
          .clearfix
          %h2.section-heading
            Keep you inspired
          %p.lead
            Find nearby workspaces with character 
            %br>
            From one hour to one day
            %br>
            New places for new ideas
        .col-lg-5.mr-auto
          = image_tag "/assets/homepage2.jpg", height: '300', weight: '100', hspace: '100', vspace: '20'
    / /.container
  %section.content-section-b
    .container
      .row
        .col-md-6
          = image_tag "/assets/homepage3.jpg", height: '300', weight: '100', hspace: '0', vspace: '20'
        .col-md-6
          %hr.section-heading-spacer/
          .clearfix
          %h2.section-heading
            Keep you productive
          %p.lead
            All the amenities you need
            %br>
            Wifi, Printer, Coffee,
            %br>
            Kitchen, Backyard.
        
  %section.content-section-a
    .container
      .row
        .col-lg-5.ml-auto
          %hr.section-heading-spacer/
          .clearfix
          %h2.section-heading
            Cross new minds
          %p.lead
            Pool with other freelancers
            %br>
            From your neighborhood
            %br>
            Help the local community
        .col-lg-5.mr-auto
          = image_tag "/assets/homepage4.jpg", height: '300', weight: '100', hspace: '100', vspace: '20'
    / /.container
    
  / Footer
  %footer
    .container
      %p.copyright.text-muted.small Copyright © Open House 2017. All Rights Reserved

    