<br>
<br>
<br>
<br>
<style>
p {
  margin: 25px;
  font-size: 18px;

}
</style>
<% if @over_ten %>
   <%= link_to 'Show Previous', '?m=all' %>
<% end %>

<p class="ui segment">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <p class="item">
        <p class="content">
          <p class="header"><strong><%= user.first_name %></strong> <%= message.message_time %></div>
          <p class="list">
            <p class="item">
              <i class="right triangle icon"></i>
              <%= message.body %>
            </p>
          </p>
        </p>
      </p>
    <% end %>
  <% end %>
</p>

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
  <p class="field">
    <%= f.text_area :body, class: "form-control" %>
  </p>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <p>
    <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
  </p>

<% end %>