%p= flash[:notice] if flash[:notice]
%h1 Edit Profile Information
<br>
%h4 Edit any of the fields below.
= form_tag user_path(@user), :method => :patch do

  = label :user, :email, 'E-mail Address'
  = text_field :user, 'email', :value=>@user.email
  <br>
  = label :user, :billing_street_address, 'Billing Street Address'
  = text_field :user, 'billing_street_address', :value=>@user.billing_street_address
  <br>
  = label :user, :billing_city, 'Billing City'
  = text_field :user, 'billing_city', :value=>@user.billing_city
  <br>
  = label :user, :billing_state, 'Billing State'
  = text_field :user, 'billing_state', :value=>@user.billing_state
  <br>
  = label :user, :billing_zip_code, 'Billing Zip Code'
  = text_field :user, 'billing_zip_code', :value=>@user.billing_zip_code
  <br>
  = label :user, :first_name, 'First Name'
  = text_field :user, 'first_name', :value=>@user.first_name
  <br>
  = label :user, :last_name, 'Last Name'
  = text_field :user, 'last_name', :value=>@user.last_name
  <br>
  = label :user, :credit_card_number, 'Credit Card Number'
  = text_field :user, 'credit_card_number', :value=>@user.credit_card_number
  <br>  
  = label :user, :expiration_date, 'Expiration Date'
  = text_field :user, 'expiration_date', :value=>@user.expiration_date
  <br>  
  = label :user, :cvv, 'CVV'
  = text_field :user, 'cvv', :value=>@user.cvv
  <br>
  <br>
  %h4 Advanced Settings
  = label :user, :searchable, '"Allow this profile to be searched?"'
  = check_box :user, :searchable, :value=>@user.searchable
  <br>
  <br>
  = submit_tag 'Save Changes'

<br>  
= button_to 'Delete Profile', user_path(@user), :method => :delete, :confirm => "Are you sure?"
<br>
= link_to "Back to Profile", user_path(@user)
<br>
= link_to "Back to Main Page", root_path

