%p= flash[:notice] if flash[:notice]
%h1 Create Your Account
<br>
%h4 Enter your new account information below.
= form_tag users_path do

  = label :user, :email, 'E-mail Address'
  = text_field :user, 'email'
  <br>
  = label :user, :password, 'Password'
  = text_field :user, 'password'
  <br>
  = label :user, :first_name, 'First Name'
  = text_field :user, 'first_name'
  <br>
  = label :user, :last_name, 'Last Name'
  = text_field :user, 'last_name'
  <br>
  = label :user, :personal_description, 'Personal Description'
  = text_field :user, 'personal_description'
  <br>
  = submit_tag 'Submit'
  
<br>
= link_to "Back to Main Page", root_path
