%p= flash[:notice] if flash[:notice]
%h1 Create New User

= form_tag users_path do

  = label :user, :email, 'E-mail Address'
  = text_field :user, 'email'

  = label :user, :password, 'Password'
  = text_field :user, 'password'

  = label :user, :billing_street_address, 'Billing Street Address'
  = text_field :user, 'billing_street_address'

  = label :user, :billing_city, 'Billing City'
  = text_field :user, 'billing_city'

  = label :user, :billing_state, 'Billing State'
  = text_field :user, 'billing_state'

  = label :user, :billing_zip_code, 'Billing Zip Code'
  = text_field :user, 'billing_zip_code'

  = label :user, :first_name, 'First Name'
  = text_field :user, 'first_name'

  = label :user, :last_name, 'Last Name'
  = text_field :user, 'last_name'

  = label :user, :credit_card, 'Credit Card'
  = text_field :user, 'credit_card_number'
  
  = label :user, :expiration_date, 'Expiration Date'
  = text_field :user, 'expiration_date'
  
  = label :user, :cvv, 'CVV'
  = text_field :user, 'cvv'

  = submit_tag 'Submit'
  