%div.show-box
  - if @user.house_images != []
    #myCarousel.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
        - @index = 0
        - @user.house_images.each do |image|
          %li{"data-slide-to" => "@index.to_s", "data-target" => "#myCarousel"}
          - @index += 1
      .carousel-inner
        - @index = 0
        - if @user.house_picture and File.exists? Rails.root.join('app', 'assets', 'images', 'user_images', @user.email, @user.house_picture)
          .item.active
            = image_tag "user_images/#{@user.email}/#{@user.house_picture}", size: "200x600", hspace: '50', vspace: '50'
          - active = true
          - @index += 1
        - else
          - active = false
        - @user.house_images.each do |image|
          - if active == false
            .item.active
              = image_tag "user_images/#{@user.email}/#{image}", size: "200x600", hspace: '50', vspace: '50', id: "more_image_#{@index}"
            - active = true
          - else 
            .item
              = image_tag "user_images/#{@user.email}/#{image}", size: "200x600", hspace: '50', vspace: '50', id: "more_image_#{@index}"
          - @index += 1
          
      %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
        %span.glyphicon.glyphicon-chevron-left
        %span.sr-only Previous
      %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
        %span.glyphicon.glyphicon-chevron-right
        %span.sr-only Next
  
  %br
  %p.center= flash[:notice] if flash[:notice]
  - if @user.house_picture and File.exists? Rails.root.join('app', 'assets', 'images', 'user_images', @user.email, @user.house_picture)
    = image_tag "user_images/#{@user.email}/#{@user.house_picture}", height: '550', hspace: '150', vspace: '10', id: :house_picture
  - else
    = image_tag "house.jpg", height: '150', weight: '20',hspace: '400', vspace: '10', id: :house_picture
  %br
  
  %div#post-page-left-box
    %h1= @user.title
    %h3= @user.home_city + ", " + @user.home_state
    
    %div.show-details-box
      %div [Icon here]
      %div= @user.capacity.to_s + ' Guests'
    %div.show-details-box
      %div Deposit
      %div= '$' + @user.price.to_s
      
    %p= @user.house_description
    %ul
      %li Amenities:
      %table
        %tbody
          - @user.amenity_list.attributes.each do |amenity|
            - unless amenity.first.include? 'id'
              - if @user.amenity_list[amenity[0]]
                %tr
                  %td{align: :center}= image_tag "amenity_icons/#{amenity[0]}", height: '20', weight: '20',hspace: '10', vspace: '10'
                  %td= amenity[0]

-if @success == false
  %div.center
    %p= "The location was not found."

%div.center#map-show
:javascript
  //Check ruby api and attempt to pull valid coordinates
  curr_loc_lat = '#{@curr_loc_lat}';
  curr_loc_lng = '#{@curr_loc_lng}';
  
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map-show'}}, function(){
  
  // Add initial marker to center selected location
  center = handler.addMarker({
    lat: curr_loc_lat,
    lng: curr_loc_lng
  });
    handler.bounds.extendWith(center);
    handler.map.centerOn(center);
    handler.fitMapToBounds();
  });

%div.center
  %p5.center
  = link_to "Back to Main Page", root_path, style: 'color:#79b8d1;font-weight: bold;'
