= image_tag('logo', height: '80', width: '170',align:"left")
%br
%br
- if @user == @current_user
    %p4
    = link_to "Edit Profile", edit_user_path, style: 'color:#79b8d1;font-weight: bold;', class: 'css_class',align: "right"
%p5
= link_to "Back to Main Page", root_path, style: 'color:#79b8d1;font-weight: bold;', class: 'css_class', align: "right"
%br
%h2 Profile
%p3 Profile Photo
%br
- if @user.profile_picture and File.exists? Rails.root.join('app', 'assets', 'images', 'user_images', @user.email, @user.profile_picture)
    = image_tag "user_images/#{@user.email}/#{@user.profile_picture}", height: '150', weight: '20',hspace: '150', vspace: '10', id: :profile_picture, align: "right"
- else
    = image_tag "user.png", height: '150', weight: '20',hspace: '400', vspace: '10', id: :profile_picture, align: "right"
%p3 House Photo
%br
- if @user.house_picture and File.exists? Rails.root.join('app', 'assets', 'images', 'user_images', @user.email, @user.house_picture)
    = image_tag "user_images/#{@user.email}/#{@user.house_picture}", height: '150', weight: '20',hspace: '150', vspace: '10', id: :house_picture, align: "right"
- else
    = image_tag "house.jpg", height: '150', weight: '20',hspace: '400', vspace: '10', id: :house_picture, align: "right"
%br

%p2
    %strong First Name:
    = +(@user.first_name || "")
%br
%p2
    %strong Last Name: 
    = +(@user.last_name || "")
%br
%p2
    %strong Email: 
    = + @user.email
%br
%p2
    %strong Personal Description: 
    = +(@user.personal_description || "")
%br

- if @user == @current_user
    %p2 
        %strong Billing Address Information:
    %ul 
        %li First Name:
        = +(@user.billing_first_name || "")
        %li Last Name:
        = +(@user.billing_last_name || "")
        %li Street:
        = +(@user.billing_street_address || "")
        %li City:
        = +(@user.billing_city || "")
        %li State:
        = +(@user.billing_state || "")
        %li Zip Code:
        = +(@user.billing_zip_code || "")
    %br
    %p2 
        %strong Credit Card Information
    
    %ul 
        %li Number:
        = +(@user.credit_card_number || "")
        %li Expiration Date:
        = +(@user.expiration_date || "")
        %li CVV:
        = +(@user.cvv || "")
    
%p2 
    %strong Hosting Information:
%ul 
    %li Street:
    = +(@user.home_street_address || "")
    %li City:
    = +(@user.home_city || "")
    %li State:
    = +(@user.home_state || "")
    %li Zip Code:
    = +(@user.home_zip_code || "")

// %br
// = image_tag(google_map_static_helper(center: @user.billing_street_address),hspace: '150', vspace: '10')