%h1 Profile Information
%br
%p= "Email: " + @user.email
%br
%p= "First Name: " + @user.first_name
%br
%p= "Last Name: " + @user.last_name
%br
%p Billing Address Information:
%ul 
    %li Street:
    = @user.billing_street_address 
    %li City:
    = @user.billing_city
    %li State:
    = @user.billing_state
    %li Zip Code:
    = @user.billing_zip_code
%br
%p Credit Card Information
%ul 
    %li Number:
    = @user.credit_card_number
    %li Expiration Date:
    = @user.expiration_date
    %li CVV:
    = @user.cvv
%br

= image_tag google_map_static_helper(center: @user.billing_street_address)

%br
= link_to "Edit Profile", edit_user_path
%br
= link_to "Back to Main Page", root_path